html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 5px 175px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.content-box-1 *,
.content-box-2 *,
.content-box-3 *,
.content-box-4 * {
  display: flex;
}

.content-box-1,
.content-box-2,
.content-box-3,
.content-box-4 {
  display: flex;
}
.right-nav {
  display: flex;
  gap: 15px;
}

.big-content-container {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
}

li {
  list-style-type: none;
}

.cta-box {
  padding: 50px;
  background-color: #3882f6;
  border-radius: 15px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-grow: 1;
}

.left-card,
.right-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-box-1 {
  padding: 50px 175px 75px 175px;
  gap: 25px;
  background-color: #1f2937;
  color: white;
  flex: 1 1 0;
}

#header-button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 30px;
}

.content-box-2 {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 50px;
}

.content-box-3 {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 150px;
}

.author {
  justify-content: flex-end;
}
.content-box-4 {
  justify-content: center;
  margin: 50px;
}

img {
  max-width: 100%;
}

.quote > h4 {
  font-weight: lighter;
}

.cta-text {
  flex: 75%;
  flex-direction: column;
  flex-wrap: wrap;
}

.cta-signup {
  flex: 25%;
  justify-content: center;
  align-items: center;
}

#cta-button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px 30px;
  /* flex-grow: 1; */
  justify-content: center;
}

.square {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 5px;
}

.text {
  width: 150px;
  height: 150px;
  text-align: center;
  font-weight: lighter;
}

#text-holder,
#box-holder {
  gap: 30px;
  padding-top: 15px;
}

#author {
  margin: 0px 5px;
  padding-bottom: 45px;
}

.headline {
  flex-wrap: wrap;
}
